.card {
    width: 300px;
    /* Largeur de la carte */
    height: 200px;
    /* Hauteur de la carte */
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Pour centrer le contenu */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* Ajout d'une couleur de fond */
}

.card-button {
    background-color: rgb(247, 209, 209);
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #f8b5da;
}